name = "test-hydration"
main = "dist/index.js"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat"]

[assets]
directory = "./dist/static"
binding = "ASSETS"

# Preview environment for testing
[env.preview]
name = "test-hydration-preview"
